@import
url('https://fonts.googleapis.com/css2?family=chakra+Petch:wght@400;700&display=swap');

:root{
    --cor-de-fundo:#1E1E1E;
    --verde: #6fff57;
    --branco: #FFFFFF;
    --botao-ativo: #3A375E;
    --botao-inativo: rgbai(58, 55, 94, 0.5);
    --texto-fundo:rgbai(58, 55, 94, 0.5);

}
body{
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: ;
}